@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    .ellipsis {
      position: absolute;
      top: 100px;
     
      width: 400px;
      height: 400px;
      background: radial-gradient(
        57.58% 57.58% at 48.79% 42.42%,
        rgba(24, 180, 244, 0.5) 0%,
        rgba(46, 55, 114, 0) 63.22%
      );
      transform: rotate(5deg);
      opacity: 0.5;
      z-index: -1;
    }
    .ellipsis.ellipsis-purple {
      top: 600px;
     
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(172, 127, 244, 0.5) 0%,
        rgba(21, 25, 52, 0) 100%
      );
      transform: rotate(-5deg);
    }
}

*{
  scroll-behavior: smooth;
  transition-duration:300ms ;
  }